

.nav{
  min-width: 520px;
  max-width: 850px;
  margin: auto;
  background-color: aliceblue;
  
  img{
    margin: auto;
  }

  ul{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

  }
  
}

.active{
  color:tomato;
}

